# Introduction: 

Many a times we are required to scrape the data from many excels (& many sheets). It might be a daunting task if it is required to be done manually. 

Thanks to python, this task can be automated now. In this example, we will exactly see how to do that.

In [14]:
# Import the relevant libraries: 
import os 
import xlrd
import pandas as pd 
import numpy as np 


# Check the working directory: 
os.getcwd()

'C:\\Users\\HFCA-Rajat\\OneDrive\\GitHub\\Python-for-Data-Science\\Data'

In [ ]:
We will be using the xlrd package

In [17]:
#Set the working directory: 

os.chdir('C:\\Users\\HFCA-Rajat\\OneDrive\\GitHub\\Python-for-Data-Science\\Data')

Please download the data from the Data folder in the repository and set the working directory where you just have these two files.

#### Lets look at the excel files from which we want to scrape the data..

In [16]:
# let's store all the files in a list : 

files = os.listdir()
files

['Excel_Data1.xlsx', 'Excel_Data2.xlsx']

Here, we have two excel files and within them there are multiple sheets to get the data.


Note:  
Please note that the data we are using in the excel files is just the dummy data for illustration.

In [19]:

#Get the list of the xlsx files : 

excel_files = [i for i in os.listdir() if ((i.endswith('xlsx') )==True & (i.startswith('~$')==False))]
excel_files 

# By now we have the list of the excel files:

['Excel_Data1.xlsx', 'Excel_Data2.xlsx']

In [27]:
# let's inspect the first excel: 

excel = xlrd.open_workbook(excel_files[0])
print("The number of worksheets is {0}".format(excel.nsheets))
print("Worksheet name(s): {0}".format(excel.sheet_names()))
sh = excel.sheet_by_index(0)
print("{0} {1} {2}".format(sh.name, sh.nrows, sh.ncols))

The number of worksheets is 3
Worksheet name(s): ['Sheet 1', 'Sheet 2', 'Rough']
Sheet 1 23 12

Now, here is the process that we shall follow: 

For every excel, we will see what sheets are there and what sheets we want. We will take the sheets where we have 'Sheet' word appearing and will ignore the other sheets. Then, we will extract the value from the concerned cells.

In [28]:
# 

# lets create the empty dataset: 
df = pd.DataFrame()
l=0
for e in excel_files: 
    this_excel = xlrd.open_workbook(e)
    all_sheets = list(this_excel.sheet_names())
    # get the recipe list: 
    recipe_sheets = [s for s in all_sheets if (s.startswith('Sheet')==True ) ] 
    # Extract the information from each of the recipe sheet: 
    for sheet_num in range(len(recipe_sheets)) : 
        k= this_excel.sheet_by_index(sheet_num)
        df.loc[ l,'Week'] = k.cell_value(3,1)
        df.loc[ l,'Book ID'] = k.cell_value(4,1)
        df.loc[ l,'Book TITLE'] = k.cell_value(7,1)
        df.loc[ l,'Book SUBTITLE'] = k.cell_value(8,1)
        df.loc[ l,'Year_Week'] = k.cell_value(1,8)
        df.loc[ l,'New_Book_Flag'] = k.cell_value(2,7)
        df.loc[ l,'New_Recipe'] = k.cell_value(2,8)
        df.loc[ l,'Last Update Date'] = k.cell_value(4,8)
        df.loc[ l,'Book Score'] = k.cell_value(5,8)
        l = l+1

Now, you will see that the data has been scraped from different cells in all the excels and the specified sheets. Here, all the rows are looking the same as the dummy data was same in all the sheets.

In [29]:
df

,Week,Book ID,Book TITLE,Book SUBTITLE,Year_Week,New_Book_Flag,New_Recipe,Last Update Date,Book Score
0,01,RP-0058,Python Programming: A Step By Step Guide From ...,,201801,,,Irene,43101.0
1,01,RP-0058,Python Programming: A Step By Step Guide From ...,,201801,,,Irene,43101.0
2,01,RP-0058,Python Programming: A Step By Step Guide From ...,,201801,,,Irene,43101.0
3,01,RP-0058,Python Programming: A Step By Step Guide From ...,,201801,,,Irene,43101.0

The End!